<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <div id="user-area">
        <!-- User area content goes here -->
        <h2>Welcome, {{ user_email }}!</h2>
        <a href="/logout">Logout</a>
    </div>
    <div id="subscription-area">
        Subscription area content goes here
        <h3>Your Subscriptions</h3>
        {% if subscriptions %}
            {% for song in subscriptions %}
            <div>
                <p>Title: {{ song.music_title }}</p>
                <p>Artist: {{ song.artist }}</p>
                <p>Year: {{ song.yearr }}</p>
                <img src="{{ song.image }}" alt="{{ song.music_title }}" width="100">
                <form action="/remove_subscription" method="post">
                    <input type="hidden" name="song_title" value="{{ song.music_title }}">
                    <button type="submit">Remove</button>
                </form>
            </div>
            {% endfor %}
        {% else %}
            <p>No subscriptions yet.</p>
        {% endif %}
    </div>
    <div id="query-area">
        <h3>Find Music</h3>
        <form action="/query_music" method="post">
            Title: <input type="text" name="title"><br>
            Year: <input type="text" name="year"><br>
            Artist: <input type="text" name="artist"><br>
            <button type="submit">Query</button>
        </form>
        {% if query_results %}
            <div>
                <h4>Results</h4>
                {% for result in query_results %}
                <div>
                    <img src="{{ result.image_url }}" alt="{{ result.title }}" width="100">
                    <p>Title: {{ result.title }}</p>
                    <p>Artist: {{ result.artist }}</p>
                    <p>Year: {{ result.year }}</p>   
                    <form action="/subscribe" method="post">
                        <input type="hidden" name="song_title" value="{{ result.title }}">
                        <input type="hidden" name="song_artist" value="{{ result.artist }}">
                        <input type="hidden" name="song_year" value="{{ result.year }}">
                        <input type="hidden" name="song_imgURL" value="{{ result.image_url }}">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div>
                <p>No results found.</p>
            </div>
        {% endif %}
    </div>
</body>
</html>
